@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background-color: #161516;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb {
	background-color: #9a8873;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ead0b3;
}

.embla {
	position: relative;
	background-color: #0b0b0b;
	max-width: 100%;
	height: calc(100svh - 4.25rem);
}

.embla__viewport {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.embla__viewport.is-draggable {
	cursor: move;
	cursor: grab;
}

.embla__viewport.is-dragging {
	cursor: grabbing;
}

.embla__container {
	display: flex;
	width: 100%;
	height: 100%;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.embla__slide {
	position: relative;
	min-width: 100%;
	height: 100%;
}

.embla__slide__inner {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.embla__slide__img {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	height: 100%;
	/* object-fit: cover; */
	min-width: 100%;
	transform: translate(-50%, -50%);
}

.gradient-overlay {
	background: linear-gradient(
		to top,
		rgba(11, 11, 11, 0.8),
		rgba(11, 11, 11, 0)
	);
}

.embla__button {
	position: absolute;
	cursor: pointer;
	touch-action: manipulation;
	z-index: 1;
	top: 50%;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	fill: #ffffff;
	outline: 0;
}

.embla__button:disabled {
	cursor: default;
	opacity: 0.3;
}

.embla__button__svg {
	width: 100%;
	height: 100%;
}

.embla__button--prev {
	left: 1rem;
}

.embla__button--next {
	right: 1rem;
}

.embla__dots {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	align-self: center;
}

.embla__dot {
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: flex;
	align-items: center;
}

.embla__dot:after {
	background-color: gray;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	content: "";
}

.embla__dot.is-selected:after {
	background-color: #ffff;
	opacity: 1;
}

.carousel_footer {
	align-items: center;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
